#lpv-admin-head {
	text-align: center;
	margin-top: 1rem;
	background: rgba(22,22,22,.2);
	padding: 1rem;
	color: blue;
}
#lpv-admin-head-inner {
	color: red;
}
#lpv-post-stuff {
    padding: 1rem;
    background: aliceblue;
}
p.description {
	font-size: 1rem;
	padding: 1rem;
}